<div class="card articleCard">
  <div class="card-header dallasHeader">
    Top Dallas News
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <h5 class="card-title">{{this.title}}</h5>
      <img src="{{this.image}}" alt="{{this.title}}">
      <div class="col-md-6">
        <a href="http://dallasnews.com{{this.link}}" target="_blank"><button class="btn float-right navButton"
            data-toggle="tooltip" data-placement="bottom" title="Read Article"><i
              class="fab fa-readme fa-2x"></i></button></a>
        {{#unless saved}}
        <button class="btn float-right navButton saveArticle" data-toggle="tooltip" data-id="{{this._id}}"
          data-placement="bottom" title="Save Article"><i class="far fa-save fa-2x"></i></button>
        {{/unless}}
        {{#if saved}}
        <button class="btn float-right navButton removeSaved" data-toggle="tooltip" data-id="{{this._id}}"
          data-placement="bottom" title="Remove From Saved"><i class="far fa-trash-alt fa-2x"></i></button>
        <button class="btn float-right navButton" data-toggle="tooltip" data-id="{{this._id}}" data-placement="bottom"
          title="Notes"><i class="far fa-sticky-note fa-2x"></i></button>
        {{/if}}
      </div>
    </div>
  </div>
</div>